*{
    box-sizing: border-box;
}

body{
    background-image: url(image/background.gif);
    background-color: #fcebb6;
    color: #221811;
    font-family: Verdana, Arial, sans-serif;
}

#wrapper{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #231814;
    min-width: 900px;
    max-width: 1280px;
    box-shadow: 3px 3px 3px #333333;
}

header{
    height: 150px;
    background-image: url(image/javajamlogo.jpg);
    background-repeat: no-repeat;
    background-color: #D2B48C;
}

h1{
    padding-top: 45px;
    padding-left: 220px;
    font-size: 3em;
}

nav{
    font-size: 1.5em;
    padding-top: 10px;
    font-weight: bold;
    text-align: center;
    float: left;
    width: 200px;
}

nav a{
    text-decoration: none;
}

nav a:link{
    color:#FEF6C2;
}

nav a:visited{
    color: #D2B48C;
}

nav a:hover{
    color: #CC9933;
}

nav ul{
    list-style-type: none;
    padding-left: 0%;
}

footer{
    padding-bottom:10px;
    border-top: 2px solid #221811;
    background-color: #D2B48C;
    font-size: .60em;
    font-style: italic;
    text-align: center;
}

h4{
    background-color: #D2B48C;
    font-size: 1.2em;
    padding-left: 0.5em;
    padding-bottom: 0em;
    text-transform: uppercase;
    border-bottom: 2px solid#221811;
    clear: left;
}

main{
    padding-left: 0em;
    padding-right: 0em;
    padding-top: 0em;
    padding-bottom: 2em;
    margin-left: 200px;
    background-color: #FEF6C2;
    display: block;
}

main h2,main h3,main h4,main p,main div,main ul,main dl{
    padding-left: 3em;
    padding-right: 2em;
}

#heroroad{
    background-image: url(image/heroroad.jpg);
    background-size:cover;
    height: 250px;
}

#heromugs{
    background-image: url(image/heromugs.jpg);
    background-size:cover;
    height: 250px;
}

#heroguitar{
    background-image: url(image/heroguitar.jpg);
    background-size:cover;
    height: 250px;
}

#herojobs{background-image: url(image/herojobs.jpg);
    background-size:100%;
    height: 250px;

}

.details{
    padding-left: 20%;
    padding-right: 20%;
    overflow: auto;
}

img{
    padding-left: 10px;
    padding-right: 10px;
}

.floatleft{
    float: left;
    padding-right: 2em;
    padding-bottom: 2em;
}

header,nav,main,footer{
    display: block;
}

table{
    margin:auto;
    width: 90%;
    border-spacing: 0;
    background-color: #FFFFCC;
}

th, td{
    padding: 10px;
}

tr:nth-of-type(odd){
     background-color: #D2B48E;
}

form {
    padding: 2em;
}

label {
    float: left;
    display: block;
    text-align: right;
    width: 8em;
    padding-right: 1em;
}

input,textarea {
    display: block;
    margin:bottom 1em;
}


#mySubmit {
    margin-left: 9.5em;

}

